@import "./scss/about.scss";
@import "./scss/Companies.scss";
@import "./scss/description.scss";
@import "./scss/footer.scss";
@import "./scss/Contact.scss";
@import "./scss/header.scss";
@import "./scss/plan.scss";
@import "./scss/workWith.scss";

body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #ecf2f8;
}