.contact-form {
    max-width: 400px;
    padding-left: 150px;
    display: flex;
  }
  input, textarea {
    width: 100%;
    border: transparent;
    border-bottom: 2px solid #a6b4c0;
    padding: 15px;
    box-sizing: border-box;
    margin: 5px;
    background-color: transparent;
    font-family: "DM Serif Display-Regular",Helvetica;
  }
  textarea{
    padding-bottom: 30px;    
}
  input::placeholder,textarea::placeholder{
    opacity: 0.7;
    color: #8d8f94;
    font-family: "DM Serif Display-Regular",Helvetica;
  }
  
  input:hover, textarea:hover {
    outline: none;
    border-color: #8d8f94;
  }
  input:focus,textarea:focus{
    outline: none;
  }
  .form-group input:focus + label,
  .form-group textarea:focus + label {
    color: #333;
  }
  
  button {
    width: 130px;
    border: solid 1px #556571;
    padding: 10px;
    border-radius: 50px;
    background-color: #ecf2f8;
    color: #556571;
    
    cursor: pointer;
  }
  
  button:hover {
    background:#556571;
    color: white;
  }
  
  .checkbox-container {
    display: inline-block;
    position: relative;
    cursor: pointer;
    user-select: none;
  }
  
  .checkbox-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkbox-custom {
    height: 25px;
    width: 25px;
    background-color: #c8d2dc;
    border: 2px solid #ecf2f8;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s, border-color 0.2s;
  }
  
  .checkbox-custom.checked {
    background-color: #ba416f; /* A nice blue */
    border-color: #ba416f;
  }
  
  /* Adjust the icon size if necessary */
  .checkbox-icon {
    max-width: 100%;
    max-height: 100%;
    display: none; /* Hide the image icon initially */
  }
  
  /* Show the image icon when container is checked */
  .checkbox-container input:checked ~ .checkbox-custom .checkbox-icon {
    display: block;
  }
.checkDes{
    color: #36526a;
  font-family: "Public Sans-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.12px;
  line-height: 25px;
  width: 385px;
  position: relative;
  bottom: 26px;
  padding-left: 30px;
}
.checkC{
    margin-top: 20px;
display: flex;
}

h1{
    color: #36526a;
  font-family: "DM Serif Display-Regular", Helvetica;
  font-size: 56px;
  font-weight: 400;
  letter-spacing: -0.43px;
  line-height: 56px;
  padding-left: 150px;
  padding-top: 40px;
  
  width: 730px;
}