.desktop-pricing{
    position: absolute;
   
}

  .desktop-pricing .overlap {
    left: 165px;
    position: absolute;
  }
.desktop-pricing .bitmap {
   
    left: 635px;
    position: absolute;
    top: 0;
    
  }

  .desktop-pricing .text-wrapper-5 {
    color: #36526a;
    font-family: "DM Serif Display-Regular", Helvetica;
    font-size: 56px;
    font-weight: 400;

    letter-spacing: -0.43px;
    line-height: 56px;
    position: absolute;
    top: 100px;
    left:-35px ;
  }


  
  .desktop-pricing .group-8 {
    height: 582px;
    left: 130px;
    position: absolute;
    top: 208px;
    width: 1110px;
  }
  

  
  .desktop-pricing .text-wrapper-11 {
    color: #ba416f;
    font-family: "DM Serif Display-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 0;
    letter-spacing: -0.25px;
    line-height: 40px;
    position: absolute;
    top: -1px;
    width: 350px;
  }
  
  .desktop-pricing .p {
    color: #6c8294;
    font-family: "Public Sans-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 28px;
    position: absolute;
    top: 55px;
    width: 350px;
  }
  
  .desktop-pricing .text-wrapper-12 {
    color: #36526a;
    font-family: "DM Serif Display-Regular", Helvetica;
    font-size: 56px;
    font-weight: 400;
    left: 0;
    letter-spacing: -0.43px;
    line-height: 72px;
    position: absolute;
    top: 119px;
    width: 350px;
  }
  
  .desktop-pricing .group-11 {
    height: 366px;
    left: 0;
    position: absolute;
    top: 216px;
    width: 350px;
  }
  
  .desktop-pricing .group-12 {
    height: 28px;
    left: 0;
    position: absolute;
    top: 25px;
    width: 134px;
  }
  
  .desktop-pricing .text-wrapper-13 {
    color: #36526a;
    font-family: "Public Sans-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 36px;
    letter-spacing: 0;
    line-height: 28px;
    position: absolute;
    top: -1px;
    white-space: nowrap;
  }
  
  .desktop-pricing .path-2 {
    height: 10px;
    left: 0;
    position: absolute;
    top: 9px;
    width: 13px;
  }
  
  .desktop-pricing .group-copy-3 {
    height: 28px;
    left: 0;
    position: absolute;
    top: 61px;
    width: 73px;
  }
  
  .desktop-pricing .group-copy-4 {
    height: 28px;
    left: 0;
    position: absolute;
    top: 97px;
    width: 95px;
  }
  
  .desktop-pricing .group-copy-5 {
    height: 28px;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 133px;
    width: 129px;
  }
  
  .desktop-pricing .group-copy-6 {
    height: 28px;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 169px;
    width: 88px;
  }
  
  .desktop-pricing .group-copy-7 {
    height: 28px;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 205px;
    width: 110px;
  }
  
  .desktop-pricing .group-copy-8 {
    height: 28px;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 241px;
    width: 91px;
  }
  
  .desktop-pricing .group-copy-9 {
    border: 1px solid;
    border-color: #36526a;
    border-radius: 24px;
    height: 48px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 318px;
    width: 168px;
  }
  
  .desktop-pricing .text-wrapper-14 {
    color: #36526a;
    font-family: "Public Sans-Bold", Helvetica;
    height: 80px;
    width: 180px;
    border: none;
    font-size: 15px;
    font-weight: 700;
    bottom: -15px;
    left: -3px;
    background-color: #ecf2f8;
    letter-spacing: -0.12px;
    line-height: normal;
    position: absolute;
   
  }
  .text-wrapper-14:hover{
    color:#ecf2f8 ;
    background-color: #36526a;
    cursor: pointer;
  }
  
  .desktop-pricing .rectangle {
    background-color: #36526a;
    height: 3px;
    left: -1px;
    opacity: 0.25;
    position: absolute;
    top: -1px;
    width: 352px;
  }
  
  .desktop-pricing .rectangle-copy {
    background-color: #36526a;
    height: 3px;
    left: -1px;
    opacity: 0.25;
    position: absolute;
    top: 292px;
    width: 352px;
  }
  
  .desktop-pricing .group-13 {
    height: 582px;
    left: 380px;
    position: absolute;
    top: 0;
    width: 350px;
  }
  
  .desktop-pricing .group-copy-10 {
    height: 28px;
    left: 0;
    position: absolute;
    top: 133px;
    width: 129px;
  }
  
  .desktop-pricing .group-copy-11 {
    height: 28px;
    left: 0;
    position: absolute;
    top: 169px;
    width: 88px;
  }
  
  .desktop-pricing .group-14 {
    height: 582px;
    left: 760px;
    position: absolute;
    top: 0;
    width: 350px;
  }
  
  .desktop-pricing .group-copy-12 {
    height: 28px;
    left: 0;
    position: absolute;
    top: 205px;
    width: 110px;
  }
  
  .desktop-pricing .group-copy-13 {
    height: 28px;
    left: 0;
    position: absolute;
    top: 241px;
    width: 91px;
  }
  